* {
    margin:0px;
    padding:0px;
}

html {
    background-image: url("../bg/cosmos2.jpg");
	background-size:cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

html, body {
    height:100%;
    width:100%;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#container {
    position:absolute;
    top:50px;
    bottom:10px;
    left:50px;
    right:50px;
}

.Dash-Buttons {
    position:absolute;
    width:100%;
    min-width:982px;
    height:100%;
}

.Dash-btnList {
    display:block;
    height:25%;
    padding-left:20px;
    padding-right:20px;
}

.Dash-btnList:first-child, .Dash-btnList:nth-child(4) {
    padding-left: 100px;
    padding-right:100px;
}

.Dash-btn {
    position:relative;
    height:100px;
    width:100px;
    background-color:red;
    border-radius:50%;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -ms-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -ms-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
    text-align:center;
    vertical-align:middle;
    line-height:100px;
    background-color: rgba(51,153,255,.2);
    border: 2px solid white;
}
.Dash-btn:nth-child(odd) {
    float:left;
}

.Dash-btn:nth-child(even) {
    float:right;
}

.Dash-btn:hover {
    transform: scale(2,2);
    cursor: pointer;
    background-image: url("../icons/meteor1.jpg");
    background-repeat: no-repeat;
}

.Dash-btn span {
    Font-family:Sans-Serif;
    font-weight:700;
    font-size:14px;
    color:white;
    width:100px;
}

.content-window {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    height:90%;
    width:50%;
    color:white;
    border:1px solid white;
    border-radius:5px;
}

.employee-list-div {
    display:block;
    float:left;
    width:25%;
    height:100%;
    background-color:rgba(0,0,0,0.4);
}

.employee-list {
    position:relative;
    top:0px;
    left:0px;
    right:1px;
    width:100%;
    height:100%;
    border-right:1px solid white;
    list-style-type:none;
}

.employee-list-item {
    padding:3px 0px 3px 0px;
    margin-bottom:1px;
    background-color: rgba(255,255,255,0.2);
    text-indent: 5px;
	-webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -ms-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -ms-transition-duration: .2s;
    -o-transition-duration: .2s;
    transition-duration: .2s;
}

.employee-list-item:hover {
    cursor:default;
    background-color: rgba(255,255,255,0.4);
}

.task-list-div {
    display:block;
    float:right;
    width:75%;
    height:100%;
}

.task-list {
    background-color:rgba(0,0,0,0.4);
    height:100%;
    list-style-type:none;
}

.task-list-item {
    padding:3px 0px 3px 5px;
    margin-bottom:1px;
    background-color: rgba(255,255,255,0.2);
    text-indent:5px;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -ms-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -ms-transition-duration: .2s;
    -o-transition-duration: .2s;
    transition-duration: .2s;
}

.task-list-item:hover {
    cursor:default;
    background-color: rgba(255,255,255,0.4);
}

.task-status-icon {
	position:absolute;
	right:3px;
	line-height:20px !important;
}

.complete {
	color:lime;
}

.pending {
	color:yellow;
}

.taskEditContext {
	display:block;
	position:absolute;
	width:70px;
	border-radius:4px;
	overflow:hidden;
}

.taskEditBtn {
	display:block;
	width:100%;
	height:25px;
	line-height:25px;
	background-color: rgba(51,153,255,.2);
}